/* navbar styles */
nav.navbar {
  background-color: rgb(4, 121, 53);
}
.navbar-brand {
  color: rgba(250, 86, 103, 0.836)!important;
  font-weight: 600;
}
ul {
  list-style-type: none;
}
a {
  color: white
}
a:hover {
  color: rgba(250, 86, 103, 0.836)!important;
}