/* navbar styles */
nav.navbar {
  background-color: rgb(4, 121, 53);
}
.navbar-brand {
  color: rgba(250, 86, 103, 0.836)!important;
  font-weight: 600;
}
ul {
  list-style-type: none;
}
a {
  color: white!important;
}
a:hover {
  color: rgba(250, 86, 103, 0.836)!important;
}
.card-title.p-title {
  color: green;
}
.total {
  font-weight: 600;
  font-size: 1.25rem;
}
.card.line {
  border: none;
  border-top: 1px solid rgba(0,0,0,.125);
}

.form {
  padding: 0;
}
