{% extends "../users/base.html" %}

{% block body %}
<main>
    <!-- Main content -->
    <h2 class="display-4 text-center my-4">Our Menu</h4>
        <div class="card" style="padding: 40px;">
            {% for type in types %}

            <h3 class="card-title text-center mb-3 p-title">Our {{type.type}}s</h3>
            <div class="row">

            {% for product in products %}
            {% if product.type == type.type %}

                <div class="col-sm-6">
                    <div class="card shadow">
                        <div class="card-body row justify-content-between">
                            <div class="column" style="width: 40%">
                                <h5 class="card-title">{{product.name}}</h5>
                                <p class="card-text">{{product.size}} size</p>
                            </div>
                            <h4 class="card-text ">${{product.price|floatformat:2 }}</h4>

                            <!-- ADD href to basket -->
                            {%if product.pizza__toppings_number %}
                            <div class="modal fade" id="myModal{{product.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Please choose toppings
                                                for your pizza</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div style="display: none" class="alert alert-warning" role="alert"
                                                id="modal-alert{{product.id}}"></div>
                                            <form action="{%url 'add_to_cart' product.id%}" method="post">
                                                {% csrf_token %}
                                                <!-- Default unchecked -->
                                                {% for topping in toppings%}
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        value="{{topping.name}}" name="toppings"
                                                        id="{{topping.name}}{{product.id}}">
                                                    <label class="custom-control-label"
                                                        for="{{topping.name}}{{product.id}}">{{topping.name}}</label>
                                                </div>
                                                {%endfor%}
                                                <input type="submit" value="Buy"
                                                    class="btn btn-success align-self-center"></input>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <a data-toggle="modal" data-target="#myModal{{product.id}}"
                                data-topnum="{{product.pizza__toppings_number}}" data-pizzaid="{{product.id}}" type="button"
                                class="modal-button btn btn-success align-self-start">Buy</a>
                            {%else%}
                            <form action="{% url 'add_to_cart' product.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Buy" class="btn btn-success align-self-center"></input>
                            </form>
                            {%endif%}
                        </div>
                    </div>
                </div>

            {%endif%}
            {% endfor %}
        </div>

            {% endfor %}
        </div>
</main>
<script>
    let toppings_number;
    let pizza_id;
    let modal_buttons = document.querySelectorAll(".modal-button")
    modal_buttons.forEach(btn => {
        btn.addEventListener("click", (e) => {
            clear()
            toppings_number = Number(e.target.dataset.topnum)
            if (!toppings_number) {
                toppings_number = 0
            }
            pizza_id = Number(e.target.dataset.pizzaid)
            chooseTops()
        })
    })
    const chooseTops = function () {
        $('input[type=checkbox]').change(function (e) {
            if ($('input[type=checkbox]:checked').length > toppings_number) {
                $(this).prop('checked', false)
                $(`#modal-alert${pizza_id}`).html(`You can choose only ${toppings_number} toppings for this pizza.`).show()
            }
        })
    }
    const clear = function () {
        $(`#myModal${pizza_id}`).on('hidden.bs.modal', function (e) {
            $(`#modal-alert${pizza_id}`).hide()
            $('input:checkbox').removeAttr('checked');
        })
    }
</script>
{% endblock %}